{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}

{% block content %}

<main class="main container">
    <div class="custom-center-block">
        <p class="custom-text-block">Сброс пароля прошёл успешно</p>
        <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
        <div class="custom-button-block">
            <button type="submit" class="button button_style_blue">
                <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a>
            </button>
        </div>
    </div>
</main>

{% endblock %}
