{% extends "base.html" %}
{% load static %}

{% block title %}Новый пароль{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/pages/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/index.css' %}">
{% endblock %}

{% block content %}

<main class="main container">
    {% if validlink %}
        <div class="main__header">
            <h1 class="main__title">Введите новый пароль</h1>
        </div>
        <div class="form-container">
            <form method="post" class="form" action="{% url 'password_reset_confirm' %}">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form__group">
                        <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                        <div class="form__field-group">
                            <input type="{{ field.widget_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form__input">
                            {% for error in field.errors %}
                                <span class="form__error">{{ error|escape }}</span>
                            {% endfor %}

                            {% if field.help_text %}
                                <span class="form__input-info">{{ field.help_text|safe }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="form__footer">
                    <button class="button button_style_blue">Назначить новый пароль</button>
                </div>
            </form>
        </div>

    {% else %}
        <div class="custom-center-block">
            <p class="custom-text-block">Ошибка</p>
            <p class="custom-text-block">Ссылка сброса пароля содержит ошибку или устарела.</p>
            <div class="custom-button-block">
                <button type="submit" class="button button_style_blue">
                    <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a>
                </button>
            </div>
        </div>
    {% endif %}
</main>

{% endblock %}
