{% extends "base.html" %}
{% load static %}
{% block title %}{% if is_created %}Создание рецепта{% else %}Редактирование рецепта{% endif %}{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/pages/form.css' %}">
{% endblock %}

{% block content %}

<main class="main container">
    <div class="main__header">
        {% if is_created %}
            <h1 class="main__title">Создание рецепта</h1>
        {% else %}
            <h1 class="main__title">Редактирование рецепта</h1>
        {% endif %}
    </div>

    <div class="form-container">
        {% if is_created %}
            <form class="form" method="post" enctype="multipart/form-data" action="{% url 'new_recipe' %}">
        {% else %}
            <form class="form" method="post" enctype="multipart/form-data" action="{% url 'recipe_edit' recipe_id=recipe.id %}">
        {% endif %}
            {% csrf_token %}
            {% for field in form %}
            <div class="form__group">
                {% if field.errors %}
                    <span class="form__error">
                        {{ error|escape }}
                    </span>
                {% endif %}
                {% if field.name == 'name' %}
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        <input type="{{ field.widget_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form__input">
                    </div>
                {% elif field.name == 'tags' %}
                <p class="form__label">{{ field.label }}</p>
                <div class="form__field-group">
                    <div class="tags">
                        <div class="tags__item">
                            <input type="checkbox" name="breakfast" id="id_breakfast" class="tags__checkbox tags__checkbox_style_orange">
                            <label for="id_breakfast" class="tags__label">Завтрак</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="lunch" id="id_lunch" class="tags__checkbox tags__checkbox_style_green" checked>
                            <label for="id_lunch" class="tags__label">Обед</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="dinner" id="id_dinner" class="tags__checkbox tags__checkbox_style_purple" checked>
                            <label for="id_dinner" class="tags__label">Ужин</label>
                        </div>
                    </div>
                </div>
                {% elif field.name == 'ingredients' %}
                    <label for="nameIngredient" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        <div class="form__field-group-ingredientes">
                            <div class="form__dropdown">
                                <input type="{{ field.widget_type }}" id="{{ field.id_for_label }}" class="form__input">
                                <div class="form__dropdown-items"></div>
                            </div>
                            <input type="number" id="cantidad" class="form__input" min="0">
                            <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                        </div>
                        <div class="form__field-group-ingredientes-container">
    
                        </div>
                        <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                        <span class="form__error"></span>
                    </div>
    
                {% elif field.name == 'prep_time' %}
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group form__field-group_time">
                        <input type="{{ field.widget_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form__input">
                        <label for="{{ field.id_for_label }}" class="form__label">минут</label>
                        <span class="form__error"></span>
                    </div>

                {% elif field.name == 'description' %}
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        <textarea name="{{ field.html_name }}" id="{{ field.id_for_label }}" rows='8' class="form__textarea"></textarea>
                        <span class="form__error"></span>
                    </div>
                
                {% elif field.name == 'image' %}
                    <span class="form__label">Загрузить фото</span>
                    <div class="form__field-group">
                        <input type="file" name="{{ field.html_name }}" id="{{ field.id_for_label }}">
                        <span class="form__error"></span>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="form__footer">
                {% if is_created %}
                    <button type="submit" class="button button_style_blue">Создать рецепт</button>
                {% else %}
                    <button type="submit" class="button button_style_blue">Сохранить</button>
                {% endif %}
            </div>
        </form>
    </div>
</main>

{% endblock %}

{% block js_block %}

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'formRecipe.js' %}"></script>

{% endblock %}





