{% extends "base.html" %}
{% load static %}
{% block title %}{% if is_created %}Создание рецепта{% else %}Редактирование рецепта{% endif %}{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/pages/form.css' %}">
{% endblock %}

{% block content %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{% if is_created %}Создание рецепта{% else %}Редактирование рецепта{% endif %}</h1>
    </div>
    <div class="form-container">
        {% if is_created %}
            <form class="form" method="post" enctype="multipart/form-data" action="{% url 'new_recipe' %}">
        {% else %}
            <form class="form" method="post" enctype="multipart/form-data" action="{% url 'recipe_edit' recipe_id=recipe.id %}">
        {% endif %}
        {% csrf_token %}
            {% for field in form %}
            <div class="form__group">
                {% if field.errors %}
                    <span class="form__error">
                        {{ error|escape }}
                    </span>
                {% endif %}
                {% if field.name == 'title' %}
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        <input type="{{ field.widget_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form__input">
                    </div>
                {% elif field.name == 'tags' %}
                <p class="form__label">{{ field.label }}</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in form.fields.tags.choices.queryset %}
                            <div class="tags__item">
                                <input type="checkbox" name="{{ tag.display_name }}" id="id_{{ tag.display_name }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }}" {% if tag.pk in form.tags.value %}checked{% endif %}>
                                <label for="id_{{ tag.display_name }}" class="tags__label">{{ tag.title }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% elif field.name == 'ingredients' %}
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        <div class="form__field-group-ingredientes">
                            <div class="form__dropdown">
                                <input type="{{ field.widget_type }}" id="{{ field.id_for_label }}" class="form__input">
                                <div class="form__dropdown-items"></div>
                            </div>
                            <input type="number" id="cantidad" class="form__input">
                            <label for="cantidad" class="form__label" id="cantidadVal"></label>
                        </div>
                        {% if is_created %}
                        <div class="form__field-group-ingredientes-container">
                            {% for ingredient in recipe %}
                            <div class="form__field-item-ingredient" id="ing_{{ingredient.id }}">
                                <span> {{ ingredient.ingredient.name }} {{ ingredient.amount }} {{ ingredient.ingredient.dimension }}</span>
                                <span class="form__field-item-delete"></span>
                                <input id="nameIngredient_{{ ingredient.id }}" name="nameIngredient_{{ ingredient.id }}" type="hidden" value="ingredient.ingredient.name">
                                <input id="valueIngredient_{{ ingredient.id }}" name="valueIngredient_{{ ingredient.id }}" type="hidden" value="{{ ingredient.amount }}">
                                <input id="unitsIngredient_{{ ingredient.id }}" name="unitsIngredient_{{ ingredient.id }}" type="hidden" value="{{ ingredient.ingredient.dimension }}">
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    </div>
    
                {% elif field.name == 'prep_time' %}
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group form__field-group_time">
                        <input type="{{ field.widget_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form__input">
                        <label for="{{ field.id_for_label }}" class="form__label">минут</label>
                    </div>

                {% elif field.name == 'description' %}
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        <textarea name="{{ field.html_name }}" id="{{ field.id_for_label }}" rows='8' class="form__textarea"></textarea>
                    </div>
                
                {% elif field.name == 'image' %}
                    <span class="form__label">{{ field.label }}</span>
                    <div class="form__field-group">
                        <input type="file" name="{{ field.html_name }}" class="form__file-button" id="{{ field.id_for_label }}">
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="form__footer">
                {% if is_created %}
                    <button type="submit" class="button button_style_blue">Создать рецепт</button>
                {% else %}
                    <button type="submit" class="button button_style_blue">Сохранить</button>
                    <a style="margin-left: 2.5em" href="#" class="form__ingredient-link">Удалить</a>
                {% endif %}
            </div>
        </form>
    </div>
</main>

{% endblock %}

{% block js_block %}

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'formRecipe.js' %}"></script>

{% endblock %}





