{% extends "base.html" %}
{% load static %}
{% block title %}{% if is_created %}Редактирование рецепта{% else %}Создание рецепта{% endif %}{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/pages/form.css' %}">
{% endblock %}

{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{% if recipe %}Редактирование рецепта{% else %}Создание рецепта{% endif %}</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data" action="{% url 'recipe_edit' recipe_id=recipe.id %}">

            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">{{ form.title.label }}</label>
                <div class="form__field-group">
                    <input type="{{ form.title.widget_type }}" name="{{ form.title.html_name }}" id="{{ form.title.id_for_label }}" class="form__input">
                    <span class="form__error">{{ form.title.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">{{ form.fields.tags.label }}</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in form.fields.tags.choices.queryset %}
                            <div class="tags__item">
                                <input type="checkbox" name="{{ tag.display_name }}" id="id_{{ tag.display_name }}" class="tags__checkbox tags__checkbox_style_{{ tag.color }}" {% if tag.pk in form.tags.value %}checked{% endif %}>
                                <label for="id_{{ tag.display_name }}" class="tags__label">{{ tag.title }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <span class="form__error">{{ form.tags.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">{{ form.ingredients.label }}</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input">
                        <label for="cantidad" class="form__label" id="cantidadVal"></label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                        {% for ingredient in recipe.ingredients_amounts.all %}
                        <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                            <span> {{ ingredient }}</span>
                            <span class="form__field-item-delete"></span>
                            <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.ingredient.name }}">
                            <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.amount }}">
                            <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.ingredient.dimension }}">
                        </div>
                        {% endfor %}
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.prep_time.id_for_label }}" class="form__label">{{ form.prep_time.label }}</label>
                <div class="form__field-group form__field-group_time">
                    <input type="{{ form.prep_time.widget_type }}" id="{{ form.prep_time.id_for_label }}" name="{{ form.prep_time.html_name }}" class="form__input">
                    <label for="{{ form.prep_time.id_for_label }}" class="form__label">минут</label>
                    <span class="form__error">{{ form.prep_time.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">{{ form.descriptionlabel }}</label>
                <div class="form__field-group">
                    <textarea name="{{ form.description.html_name }}" id="{{ form.description.id_for_label }}" rows='8' class="form__textarea"></textarea>
                    <span class="form__error">{{ form.description.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">{{ form.image.label }}</span>
                <div class="form__field-group">
                    <input type="file" name="{{ form.image.html_name }}" class="form__file-button" id="{{ form..image.id_for_label }}">
                    <span class="form__error">{{ form.image.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Сохранить</button>
                <a style="margin-left: 2.5em" href="{% url 'recipe_delete' recipe_id=recipe.id %}" class="form__ingredient-link">Удалить</a>
            </div>
        </form>
    </div>
</main>

{% endblock %}

{% block js_block %}

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'formRecipe.js' %}"></script>

{% endblock %}





